@font-face{
    font-family:'digital-clock-font';
    src: url('digital-readout.medium.ttf');
   }

div button {
    height: 50px;
    width: 50px;
    margin: 5px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#equal, #delete {
    width: 115px;
}

h1 {
    font-size: 3em;
    font-family: 'digital-clock-font';
}

#displayDiv {
    /* background: grey; */
    width: 253px;
    text-align: right;
}

#calc {
    border: 1px solid black;
    width: 253px;
}
