body {
  font-family: Arial, Helvetica, sans-serif;
}

.user-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.user-card img {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.user-card>img {
  width: 300px;
  height: 300px;
}

.user {
  display:flex;
  flex-direction: column;
  align-items: center;
  background: rgb(240, 240, 240);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
  margin: 5px;
  transition: all .2s ease-in-out;
}

.user:hover {
  transform: scale(1.1);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}



.input-field {
  margin: 10px;
  width: 60%;
}

.search-div {
  display: flex;
  justify-content: center;
}

.userdetails {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: flex-end;
}

.details {
  margin-left: 20px;
}

.userdetails img {
  border-radius: 10px;
  margin-top: 5px;
}